.text {
  background-color: black
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  color: darkcyan;
}

th, td, tr{
  border: 1px solid black;
}

