h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  color: darkcyan;
}

.card-header{
  background-color: black;
  color: aliceblue;
  font-family: cursive;
  font-weight: bold;
}

.card-body{
  background-color: rgb(214, 214, 170);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: navy;
}

button{
  background-color:black;
}
