<div class="container">
    <div class="title">
      <h1>Welcome to the Library Management System!</h1>
  </div> <br>
  <hr><br/>

<div class = "mb-2">
    <div class="row mb-2">
        <button class = "btn btn-primary" (click) = "addItems()">Add Items</button>
    </div>
      <div class="row mb-2">
        <button class = "btn btn-primary" (click) = "deleteItems()">Delete Items</button>
      </div>
      <div class="row mb-2">
        <button class = "btn btn-primary" (click)="borrowItems()" >Borrow Items</button>
      </div>
      <div class = "row mb-2">
          <button class = "btn btn-primary" (click) ="returnItems()">Return Items</button>
      </div>
      <div class = "row mb-2">
          <button class = "btn btn-primary" (click)="displayItems()">Display Items</button>
      </div>
      <div class = "row mb-2">
          <button class = "btn btn-primary" (click) = "report()">Generate Report</button>
      </div>
    </div>

 <!-- <div class="align-self-start"></div>
<div class="align-self-end">Aligned flex item</div>
<div class="align-self-center">Aligned flex item</div>
<div class="align-self-baseline">Aligned flex item</div>
<div class="align-self-stretch">Aligned flex item</div>
 -->
