h1{
  text-align: center;
  color: maroon;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div{
  background-color: wheat;
}

hr{
  color: white;
  background-color: #BDB76B;
  height: 2px;
}

button{
  background-color: midnightblue;
}
